.display.editable:hover {
  background: lightyellow;
  cursor: pointer;
}

.display {
  min-height: 1em;
  white-space: pre-wrap;
  display: block;
}

.actions {
  padding-bottom: 10px;
}

.badge-name.display {
  font-weight: bold;
}

img.badge-image.display {
  width: 64px;
  height: 64px;
}

#edit {
  width: 80%;
}

ul.badgeTypes {
  list-style-type: none;
}

img.fb-avatar-tiny {
  width: 16px;
  height: 16px;
}
