.display.editable:hover {
  background: lightyellow;
  cursor: pointer;
}

.display {
  min-height: 1em;
  white-space: pre-wrap;
  display: block;
}

.badge-name.display {
  font-weight: bold;
}

img.badge.display {
  width: 64px;
  height: 64px;
}

#edit {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.badgeTypes {
  list-style-type: none;
}

